{% load static wagtailcore_tags wagtailimages_tags %}

<div class="navbar">
    <nav class="box">
        <a class="left" href="/main">
            <img src="../../static/imgs/logo-min.png" width="220px"
                alt="{{ image.alt }}"/>
        </a>

        {% include "blog/search_box.html" %}
        
        <a class="right"  href="{% url 'account_logout' %}">
            <img src="../../static/imgs/avatar.png" width="65px"
                alt="{{ image.alt }}" class="" />
        </a>
    </nav>

    <nav class="box">
        <div class="center">
            <h3 class="cat-list">Todo</h3>
            <h3 class="cat-list">Finanzas</h3>
            <h3 class="cat-list">Noticias</h3>
            <h3 class="cat-list">Política</h3>
            <h3 class="cat-list">Economía</h3>
        </div>
    </nav>
</div>


            
